<br><br><br><br>

<form  #myForm="ngForm" (ngSubmit)="adddata(myForm)" role="form">
  <legend>new register</legend>

  <div class="form-group">
    <label for="no">no</label>
    <input ngModel type="number" class="form-control" id="no" name="no" placeholder="123">
  </div>

  <div class="form-group">
    <label for="name">name</label>
    <input ngModel type="text" class="form-control" id="name" name="name" placeholder="123">
  </div>
  
  <div class="form-group">
    <label for="address">address</label>
    <input ngModel type="text" class="form-control" id="address" name="address" placeholder="123">
  </div>
  <button type="submit" class="btn btn-primary">add record</button>
</form>
